<body>
    <h1> Join our Mailing List! </h1>
    <p>
        Would you like to receive mailings from special offers and events?<br>
        We have <strong><%=num%></strong> people joined our list!
    </p>
    <form>
        <input type = "text" class="form" placeholder="Your email">
        <button>
            Sign up
        </button>
    </form>
</body>